
{% extends 'base.html' %}
{% block head %}
{%  load staticfiles %}
    <link rel="stylesheet" href="{% static 'blog/article_detail.css' %}">

{% endblock %}

{% block title %}
    {{ article.title }}
{% endblock %}
{% block body %}
    {% include 'log/navbar.html' %}
    <div class="row justify-content-center mt-5 pt-3">
        <div id="article_detail" class="col-lg-8 col-10">

               <div class="h2 text-center">{{ article.title }}</div>
                <div class="text-right font-weight-light">{{ article.created_time }}</div>
                <div class="container-fluid mb-5 pb-5">{{ article.body|safe }}</div>
        </div>
    </div>
{% endblock %}