{% extends 'base.html' %}
{% block body %}
    {% include 'log/navbar.html' %}

    <div class="container-fluid row justify-content-center">
        <div class="col-md-8 col-sm-10">
            <p>留言们：</p>
            {% for comment in liuyan_list %}
                <div class="border-bottom pt-1 pb-1">
                    {{ comment.text }}
                    <blockquote class="blockquote text-right">
                        <footer class="blockquote-footer">{{ comment.name }} </footer>
                    </blockquote>
                </div>
            {% endfor %}
        </div>
        <div class="w-100"></div>
        <div class="col-md-8 col-sm-10" id="form">
            <form action="{% url 'log:liuyan' %}" method="post" class="comment-form">
                {% csrf_token %}
                <div class="row">
                    <div class="col-4">
                        <label for="{{ form.name.id_for_label }}">名字：</label>
                        {{ form.name }}
                        {{ form.name.errors }}
                    </div>

                    <div class="col-12">
                        <label for="{{ form.text.id_for_label }}">评论：</label>
                        {{ form.text }}
                        {{ form.text.errors }}
                    </div>

                    <div class="col-2">
                        <button type="submit" class="comment-btn ml-4">发表</button>
                    </div>
                </div>    <!-- row -->
            </form>
        </div>
    </div>

{% endblock %}

